%href-shared {
  color: white;
  text-decoration: none;
}

%article-border {
  border-color: #222222;
  border-width: 5px;
  border-style: solid;
}

$white-line-solid: 1px solid white;
$white-line-dotted: 1px dotted white;
$black-line: 2px solid black;
$black-line-dotted: 2px dotted black;

body {
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #222222;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: white;
}

button {
  background-color: white;
  border: $black-line;
  color: black;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-4px);
  color: white;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  background-color: gray;
  border-color: transparent;
}

.navbar {
  border-bottom: $white-line-solid;

  img {
    height: 20px;
    width: 30px;
  }

  a {
    @extend %href-shared;
    margin-left: 10px;
    margin-right: 10px;
  }

  .topics {
    font-size: 18px;
  }
}

.main {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

div.section {
  border-top: $white-line-dotted;
  overflow: auto;
}

p.section {
  font-size: 12px;
  color: lightgray;
}

.article {
  @extend %article-border;
  text-align: left;
  padding: 5px;
  background-color: white;
  color: black;

  a {
    color: black;
    text-decoration: none;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  p {
    line-height: 130%;
  }
}

.singleArticle {
  @extend %article-border;
  text-align: left;
  padding: 15px;
  background-color: whitesmoke;
  color: black;

  .content {
    font-size: 16px;
    line-height: 130%;
  }

  .code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

}

.relative {
  position: relative;
  height: 360px;
}

.articleSummary {
  padding-left: 20px;
  padding-right: 20px;

  .content {
    text-align: justify;
    text-justify: inter-word;
  }
}

.footer {
  border-top: $white-line-solid;
  padding-top: 1%;

  a {
    @extend %href-shared;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.titleHeadline {
  border-bottom: $black-line;
  padding-bottom: 2%;
  text-overflow: clip;
}

a:hover {
  color: gray;
  cursor: pointer;
}