{% extends ('base.html.twig') %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block page_content %}
    <div class="section">
        <p class="section">Dynamic Content</p>
        <div class="column-6 article">
            {% for article in articles %}
                <div class="column-5 articleSummary relative">
                    <h2 class="titleHeadline"> {{ article.getTitleEn() }}</h2>
                    {% for content in article.getContentEns() %}
                        <p>{{ content.getText }}</p>
                    {%  endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}