{% extends ('base.html.twig') %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block page_content %}
    <div class="section">
        <p class="section">Recent</p>
        {% include 'index/recent.html.twig' with {'article': article} %}
    </div>
    <div class="section">
        <p class="section">All Articles</p>
        {% for pair in articles %}
            <div class="row">
                {% for article in pair %}
                    {% include 'index/article.html.twig' with {'article': article} %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}